img,
.reveal section img {
    border: 0;
}

.reveal section img[alt='Twitter'],
.reveal section img[alt='Github'] {
    background: none;
    max-width: 2em;
    margin: -0.5em 0;
}

body.reveal-viewport {
    background: url("../img/metal.jpg");
    background-position: center;
    background-size: cover;
}

.contrast-background {
    background-color: gainsboro;
}

.contrast-text {
    color: #fffff1;
}

.contrast-frame {
    background-color: rgba(0, 0, 0, .85)
}

.reveal .slides section .fragment.semi-fade-out.fade-75.visible {
    /*opacity: .25;*/
}