

.reveal .slides section .fragment.toggle {
    opacity: 0;
    display: none; }

.reveal .slides section .fragment.current-fragment.toggle {

    display: inline; }

.reveal .slides section .horizontal-para {
    display: inline-block;
}

.reveal .slides section .yellow {
    color: rgb(216, 185, 7)
}

.reveal .slides section .fragment.fade-red, .reveal .slides section .red {
    color: #ff2c2d;
}

.reveal .slides section .fragment.fade-green, .reveal .slides section .green {
    color: #17ff2e;
}

.reveal .slides section img[alt='Twitter'], .reveal section img[alt='Github'] {
    background: none;
    max-width: 2em;
    margin: -0.5em 0;
}